<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>mEDISCREEN</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <br>
  <h3> MEDISCREEN - Patient's list</h3>
  </br>
<div class="row">
  <a href="/mediscreen/patient/add" class="btn btn-primary btn-sm">Add New</a>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Id</th>
      <th>Firstname</th>
      <th>Lastname</th>
      <th>Birthdate</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="patient : ${patients}">
      <td style="width: 10%" th:text="${patient.patientId}"></td>
      <td th:text="${patient.firstname}"></td>
      <td th:text="${patient.lastname}"></td>
      <td style="width: 25%" th:text="${patient.birthdate}"></td>
      <td style="width: 25%" th:text="${patient.gender}"></td>
      <td style="width: 25%" th:text="${patient.address}"></td>
      <td style="width: 25%" th:text="${patient.phone}"></td>
      <td style="width: 15%" class="text-center">
        <a th:href="@{/mediscreen/patient/{id}(id=${patient.patientId})}">Edit</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</div>
</body>
</html>